@font-face {
    font-family: 'robotobold';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'fontawesome';
    src: url('fonts/fontawesome-webfont.eot');
    src: url('fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontawesome-webfont.woff') format('woff'),
         url('fonts/fontawesome-webfont.ttf') format('truetype'),
         url('fonts/fontawesome-webfont.svg#fontawesome') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face{
    font-family: 'glyphicons-halfings-regular';
    src: url('fonts/glyphicons-halfings-regular.eot');
    src: url('fonts/glyphicons-halfings-regular.eot?#iefix') format('embedded-opentype'),
         
         url('fonts/glyphicons-halfings-regular.svg#glyphicons-halfings-regular') format('svg');
    font-weight: normal;
    font-style: normal;
    }
@font-face {
    font-family: 'robotoblack';
    src: url('fonts/Roboto-Black-webfont.eot');
    src: url('fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Black-webfont.svg#robotoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('fonts/RobotoCondensed-Bold-webfont.eot');
    src: url('fonts/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('fonts/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('fonts/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'robotoregular';
    src: url('fonts/Roboto-Regular-webfont.eot');
    src: url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         
         url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0px;
    width: 100%;
    height: auto;
}

/* PAGE 1 Menu Slider */

header
{
    font-family: roboto_condensedbold, georgia, sans-serif;
    font-size: 0.6em;
    padding-bottom: 11px;
    padding-top: 8px;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 100;
    width: 100%

}
header >div
{
    display: flex;
    justify-content: space-around;
}

label
{
   
    visibility: hidden;
}

.selectmenu
{
    display: none;
}

.headerNavigation ul
{
    list-style-type: none;
    display: flex;
    padding-top: 5px;
    
    
}


.headerNavigation li
{
    padding-right: 20px;
   
}

.style-menu
{
    font-size: 1.5em;
    color: #787878;
    text-decoration: none;
}

.style-menu:hover
{
    border-top: 2px solid #5cadd3;
    padding-top: 32px;
    color: black;
    outline: 0;
} 

.activeFirstMenu 
{
     border-top: 2px solid #5cadd3;
    padding-top: 30px;
    color: black;
    outline: 0;
}


.first-container {

  padding-left: 0px !important;
  padding-right: 0px !important;
}
.first-container div {
  
  display: inline-block;
  display: none;
}

#first-bloc
{
    padding-top: 75px;
}

div .first-image
{
  display: inline-block;
}

.first-container img {
  width: 100%;
  height: auto;
}

progress
{
    position: relative;
    bottom: 7px;
    font-size: 9px;
    color: rgba(92, 173, 211, 0.7);
    width:100%;
    margin-bottom: 40px;
   
    
}
  
.button .fa-angle-left
{
    position: absolute;
    color: white;
    bottom: 3vh;
    left: 4px;
    font-size: 1.3em;
}

.button .fa-angle-right
{
    position: absolute;
    color: white;
    bottom: 3vh;
    right: 4px;
    font-size: 1.3em;
}
.before
{
    position: absolute;
    left: 0px;
    top: 43vh;
    border-radius: 0px 60px 60px 0px;
    padding: 43px 2px 13px 23px;
    background: rgba(66, 66, 70, 0.6);
    border: 1px solid  rgba(66, 66, 70, 0.6);
    cursor: pointer;
}

.after
{
    position: absolute;
    top: 43vh;
    right: 0px;
    background: rgba(66, 66, 70, 0.6);
    border-radius: 60px 0px 0px 60px;
    padding: 43px 2px 13px 23px;
    border: 1px solid  rgba(66, 66, 70, 0.6);
    cursor: pointer;
    
}

.tittle1
{
    font-size: 1.87em ;
    font-family: robotobold, georgia, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    position: absolute;
    top: 220px;
    left: 200px;
    color: white;
}

.tittle1 strong
{
    color: #5cadd3;
    font-weight: bold;
}

.tittle1_1
{
    font-family: glyphicons-halfings-regular, Arial, sans-serif;
    font-size: 0.92em;
    position: absolute;
    top: 322px;
    left: 200px;
    color: white;
}

.tittle1_2
{
    font-size: 0.9em;
    font-family: glyphicons-halfings-regular, Arial, sans-serif;
    position: absolute;
    top: 348px;
    left: 200px;
    border: 1px #5cadd3 solid;
    border-bottom: 2px #3381ff solid;
    padding: 7.5px;
    background-color: #5cadd3;
    border-radius: 3px;
}

.tittle1_2 a
{
    text-decoration: none;
        color: white;
            cursor: pointer;


}





                                             /*PAGE2 Service PROVIDED*/

.contain1
{
    margin-top: 15px;
    font-family: robotobold, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

 .contain1 h1
{

    font-size: 1.7em;
    
}

.contain1 h2
{
    font-size: 0.7em;
    margin-bottom: 0px;
    
}

.contain1 h3
{
    font-size: 0.7em;
}


.imagery
{
    display: flex;
}

.circle
{
  background: #5cadd3;
  border-radius:50%;
  width:12px;
  height:12px;
  border:2px solid #5cadd3; 
}

.bordermodel
{
    width:77px;
    height: 5px;
    border-bottom: 1px solid #c0c0c0;
    opacity: 0.5;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 2px;
}

.contain2
{
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
}

.contain2 img
{
    margin-left: 125px;
}
aside
{
    
    margin: 54px auto;
}

.bloc1
{
    height: 75px ;
}

.bloc1 p
{
    font-family: robotoregular, sans-serif;
}


.contain2 h3
{
    font-family: robotobold, Arial, sans-serif;
    font-size: 1em;
   margin-bottom: 5px;
}

.contain2 p
{
    font-size: 0.8em;
    margin-top: 0px;
    margin-bottom: 1px;
}

.logoaside
{
    color: #5cadd3;
    font-size: 20px;
   position: relative;
   bottom: 41px;
   right: 56px;    
}

.emptycircle
{
    border-radius: 50%;
    width: 43px;
    height: 43px;
    border:1px solid #c0c0c0;
    position: relative;
    bottom: 74px;
    right: 69px;    
}

.littlecircle
{
  background: #5cadd3;
  border-radius:50%;
  width:4px;
  height:4px;
  border:2px solid #5cadd3; 
  position: relative;
  bottom: 100px;
  right: 29px;    
}


                                           /*Page3 Portfollio*/

#backgroundpage
{
    background-color: #f1f5fb;
}
#contain3
{
    background: blue;
}                                           

#navigation2 nav ul
{
    margin-top: 40px;
    display: flex;
    margin-bottom: 50px;
}

.style-second-menu
{
    color: black;
    text-decoration: none;
    padding: 10px 10px 10px 10px;
    color: black;
    text-decoration: none;
    background: #e2e2e2;
}

.navborder1
{
    border-radius: 5px 0px 0px 5px;
}

.navborder2
{
    border-radius: 0px 5px 5px 0px;
}

#navigation2 nav ul
{
  
  list-style-type: none;
  justify-content: center;
 }

.style-second-menu:hover
{
    padding: 10px 10px 10px 10px;
    background: #5cadd3;
    border-bottom: 2px #5375b3 solid;

}

.active2menu
{
    padding: 10px 10px 10px 10px;
    background: #5cadd3;
    border-bottom: 2px #5375b3 solid; 
}

#navigation2 nav a:hover + .arrowdown
{
    display: block;
}


.arrowdown
{
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #5375b3;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* .activeMenuArrow{
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #5375b3;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
 */

.portfolio img
{
    width: 22%;
    height: 33%;    
}

.portfolio
{

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.boximage1
{
    position: relative;
    margin-bottom: 20px;
}

.boximage1 img
{
    width: 300px;
    height: auto;
}

.backgroundportofolio
{
    position: absolute;
    bottom: 4px;
    background-color: rgba(43, 43, 43, 0.6);
     width: 100%;
     height: 33%;
}

.textimage1
{
    position: absolute;
    bottom: 24px;
    padding-left: 6px;
    color: white;
    font-family: robotobold, Arial, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
}

.textimage1
{
    
    width: 98%;
   
}
.textimage1_2
{
    
    width: 98%;
    margin-bottom: 10px; 
}
.textimage1_2
{
    position: absolute;
    bottom: 8px;
    padding-left: 6px;
    color: white;
    font-family: robotobold, Arial, sans-serif;
    font-size: 0.9em;
}

.fullcircle
{
    border-radius: 50%;
    width: 36px;
    height: 36px;
    border: 2px solid white;
    position: absolute;
    background-color: #5cadd3;
    bottom: 49px;  
    right: 15px;
}

.fa-eye
{
    position: absolute;
    bottom: 61px;
    right: 26px;
    color: white;
}


.boxdescription1
{
opacity: 0;
}

.boximage1:hover .boxdescription1
{
    opacity: 1;
    transition: 0.5s linear;

}


                         /*Page 4 Map Contact*/

#anchor3
{
    position: relative;
}

.filter
{
    background-color: #98c7f0;
    margin-top: 70px;
    width: 100%;
    height: 500px;
}

.map iframe
{
    
    width: 100%;
    height: 500px;
    opacity: 0.6;
}

.contactForm
{
    width: 300px;
    height: 445px;
    position: absolute;
    top: 30px;
    background-color: #e9f0f7;
    opacity: 0.9;
    right: 170px;
}

.tittlecontact 
{
    font-family: robotoblack, Arial, sans-serif;
    font-size: 0.8em;
    margin-left: 5px;
    margin-bottom: 2px;
    margin-top: 2px;
   

}

.contact
{
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
    
   }

.tittleagency
{
    font-size: 1.1em;
    font-weight: bold;  
}

.phone
{
    border-bottom: 1px dotted black;
    
}

.bottom
{
    margin-bottom: 19px;
}

input:not(.form2)
{
    margin-bottom: 12px;
    margin-left: 13px;
    width: 90%;
    border-radius: 3px;
    border: 0.4px solid grey;
    color: grey;
    
}

.textarea_message
{
        margin-left: 13px;
            margin-bottom: 12px;


}


.form2
{
  
    margin-left: 13px;
    padding: 8px;
    color: white;
    background-color: #66a0ff;
    border-radius: 3px;
    border: 0.4px solid #66a0ff;
    border-bottom: 3px #3381ff solid;
    
    
}

.alert-email, .alert-validate
{
    display: none;
}



                                  /*RESPONSIVE */



@media all and (max-width: 1024px)
{


.tittle1
{
 

    top: 176px;
    font-size: 1.35em;
    left:150px;
}

.tittle1_1
{

   top: 249px;
   left: 150px;
   font-size: 0.6em;
}

.tittle1_2
{
    
    top: 279px;
    left: 150px;
    font-size: 0.6em;
}


.button .fa-angle-left
{
   display: none;
}

.button .fa-angle-right
{
    display: none;
}
.before
{
    display: none;
    
}

.after
{
    display: none;
    
    
}


.contain2 img
{
    padding-top: 50px;
    margin-left: 0px;
}

aside
{

    padding-top: 45px;
  padding-right: 20px;
  margin-right: 0px;

}


    .contactForm
    {
      
       top: 40px;
    }
}

@media all and (max-width: 900px)
{
    .contain2
{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

#image
{
    margin-left: auto;
    margin-right: auto;
}


aside
{
    width: 76%;
    font-size: 1.4EM;
    padding-top: 0px;
}

}

@media all and (max-width: 768px)
{

header img
{
    width: 29%;
}
.before
{
   
    top: 190px;
    
}

.after
{  
    top: 190px; 
}

.tittle1
{
    top: 156px;
    font-size: 1em;
    left:120px;
}

.tittle1_1
{
   top: 213px;
   left: 120px;
   font-size: 0.55em;
}

.tittle1_2
{
    top: 232px;
    left: 120px;
    font-size: 0.5em;
}




aside
{
  width: 80%;
  padding-top: 15px;
}

.bloc1 h3
{
    text-align: center;
    padding-bottom: 10px
}

.bloc1
{
    height: 122px;
}

.bloc1 p
{
    text-align: center;
    font-size: 0.7em;
}


    .contactForm
{
    width: 190px;
    height: 300px;
    top: 70px;
    right: 55px;
    
}

.tittlecontact 
{
    ;
    font-size: 0.8em;
}

.tittlecontact1
{
    font-size: 1.3em;
    margin-bottom: 5px;
}

.tittlecontact2
{
    font-size: 0.8em;
}

.form2
{    
    padding: 4px;
}

textarea
{
    height: 80px;
}
 
}





@media all and (max-width: 480px)
{


 header
    {
        
        
        padding-bottom: 8px;
        padding-top: 0px;
        background: white;



    }

    .activeFirstMenu 
{
     border-top: 1px solid #5cadd3;
    padding-top: 2px;
    color: black;
    outline: 0;
}

/* .activeFirstMenu 
{
     display: none;
} */
 
 header div img
 {
    display: block;
    width: 192px;
    height: 50px;
    padding-top: 10px;
    
    

 }

 .headerNavigation label
 {
    visibility: visible;
    font-size: 3em;
    margin-left: 82px;
    padding-top: 19px;
    cursor: pointer;
   
 }


.headerNavigation ul 
{
    position: absolute;
    right: 0px;
    display: block;
    margin-right: 0px;
    visibility: hidden;

}

.headerNavigation li
{
    
    padding: 16px;
    border: 1px solid #5cadd3;
    box-shadow: 2px 2px 2px #5cadd3;
    background-color: white;
}


#toggle:checked + ul
{
    visibility: visible;
}

.headerNavigation a:hover
{
    visibility: hidden;
}

#slider img
{
    top: 140px;
    margin-left: 10px;
    padding-left: 20px;
    margin-bottom: 85px;

}



.tittle1 
{
 
    top: 68px;
    font-size: 1.3em;
    left: 5px;
    
}


.tittle1_1
{
  display: none;
}

.tittle1_2
{
    
   display: none;
}


.contain1
{
    margin-top: 0px;
    width: 100%;
}

 .contain1 h1
{

    font-size: 1.47em;
    
}

.contain1 h2
{
    text-align: center;
    font-size: 0.95em;
    
    
}

.contain1 h3
{
    display: none;
}

#bloc1
{
    height: 90px;
}
aside
{
    width: 100%;
    font-size: 1.2EM;
    padding-top: 0px;
}


.contain2
{
    margin-top: 0px;
}

.contain2 img
{
   display: none;
}


.bloc1 h3
{
    text-align: center;
    padding-bottom: 5px;
}
.bloc1 p
{

    font-size: 1em;
        margin: 5px;

}
.bloc1 
{
    height: 155px;
}

.thirdPart h3
{
    margin-top: 46px;

}

.logoaside
{
  
   display: none;
}

.emptycircle
{
   
   display: none;
}

.littlecircle
{
  
  display: none;   
}



#navigation2 ul
{ 
    padding: 0px;
    flex-direction: column;
    align-items: center;
}

#navigation2 li
{
    padding-bottom: 25px;
}
#navigation2 nav a
{
   
    padding: 14px 14px 14px 14px;
    border-radius: 3px;
    
}



    .contactForm

{
    width: 100%;
    height: 380px;
    top: 500px;
    left: 0px; 
    background-color: white; 
    
}

.contactForm .contact
{
    font-size: 1.8em;
}


.tittlecontact 
{
    
    font-size: 1em;
     margin-bottom: 4px;
}

.tittlecontact1
{
    font-size: 1em;
    margin-bottom: 4px;
}

.tittlecontact .bottom
{
    margin-bottom: 10px;
}



textarea
{
    height: 110px;
    margin-bottom: 10px;
}
 
}

